<!DOCTYPE html>

<html lang='en'>
  <head>
    <title>Project Tracker: <%= $SETTINGS["project_name"] %></title>
  </head>
  <body>
    <h1>Setup</h1>
    <p>This page is designed to allow you to easily change project parameters.</p>
    <form>
      <label></label><input type='text' name="username"/>
      <label></label><input type='text' name="password"/>
      <label></label><input type='text' name="api_key"/>
      <label></label><input type='text' name="project_id"/>
      <label></label><input type='text' name="project_name"/>
      <label></label><input type='text' name="project_id"/>
      <label></label><input type='text' name="project_name"/>
    </form>  
  </body>
</html>